ds4p-receiver/security-tools/src/wsdl/healthcare2_8080/TestVAWebServices/SecuredDocumentServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ws.secured.test.ds4p.va.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.secured.test.ds4p.va.gov/">

<xs:element name="documentQuery" type="tns:documentQuery"/>

<xs:element name="documentQueryResponse" type="tns:documentQueryResponse"/>

<xs:element name="documentRetrieve" type="tns:documentRetrieve"/>

<xs:element name="documentRetrieveResponse" type="tns:documentRetrieveResponse"/>

<xs:complexType name="documentRetrieve">
<xs:sequence>
<xs:element name="documentId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentRetrieveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentQuery">
<xs:sequence>
<xs:element name="patientId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentQueryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>